[Desktop Entry]
Encoding=UTF-8
Name=Dialer
Type=Application
Terminal=false
Icon=/home/pi/Documents/jPhone/Dialer/Dialer.png
Exec=/home/pi/Documents/jPhone/Dialer/jPhoneDialer.py
